#donate

  #left-rail
    .quote
      - blockquote do
        As a single mom, I am so thankful my son is around positive male role models.
      %cite
        %strong Ms. Ruffin
        %br
        5th grade parent

  #right-rail
    %h1 Equipping At-Risk Boys for Success

    %h2 SOLUTIONS

    %p
      Each School Year Your Support Provides 600 Hours of:

    %p
      Homework help, tutoring, test preparation assistance, service projects, youth group , missions trips , conflict resolution and anger management courses, team-building challenges and sports, vocational field trips and readiness courses, mentoring, internships,  high school placement, civic debate opportunities, goal setting training, financial management training, and fun trips and activities to reward performance.

    %h2 IMPACT

    %p Your Support Results In:

    %ul
      %li Better grades
      %li Improved conduct and civic engagement
      %li Improved social skills
      %li Growing relationship with God and emotional maturity
      %li Expanded vocational knowledge and readiness
      %li Students prepared to succeed in top-tier high schools, jobs, team activities and community services


    %h2 DONATIONS

    %ul
      %li $5000 and above - Major Gift Donation
      %li $3000 - Full Scholarship
      %li $2000, $1000, $500, $250, $100 - Partial Scholarship


    %p
      All gifts are appreciated and each donor will receive a thank you, program update and statement of giving.

    %p
      A4Y is a tax-exempt nonprofit that is funded primarily by support from foundations, individuals, churches, corporations and fundraisers. Our experienced and trained financial administrator manages our finances under the supervision of a board treasurer. Reports, budgets and other information are available upon request.

    %p
      All checks are made out to A4Y and mailed to P.O. Box 11068, Baltimore, MD. 21212. You can also make your donation online.


