#fundraising
  #left-rail
    .quote
      - blockquote do
        This is how i choose to spend my volunteer time. I have seen kids&#x27; lives change.
      %cite
        %strong Mike Henderson
        %br
        Fun Run Volunteer

  #right-rail
    .hero.noborder
      = image_tag "hero/fundraising.jpg"

    %strong FUNDRAISING

    %p
      Each year we host the Acts4Youth 5k Fun Run to raise awareness and resources for our after
      school and summer academies. This event provides a great opportunity for local youth groups,
      churches, businesses, colleges and others to learn more about the need for faith based, proactive and comprehensive programming tailored to offer solutions to the many challenges that face at-risk boys from disadvantaged communities. All those who share their resources as a participant, sponsor or volunteer appreciate that they are contributing to helping boys from Baltimore City become equipped for success.

    %p
      Or to support A4Y in other ways, visit our
      %a{:href => donate_path, :title => "Donate Now"} Donate Now page.
