#programming
  #left-rail

    .quote
      - blockquote do
        It is evident that our boys need proactive programs such as
        %strong A4Y
        to equip them with essential communication, conflict management, and problem solving skills. Building these skills is imperative. In addition, the relationships that are created through the
        %strong Acts4Youth
        program help the boys effectively navigate this crucial stage of their lives.
      %cite
        %strong Meredith Unangst, MA, CAS, NCSP
        %br
        School Psychologist Balt. City

    .inner
      = render :partial => "common/contact_info"

  #right-rail
    .hero.noborder
      = image_tag "hero/programming.jpg"

    %h2 GEAR AFTER SCHOOL AND SUMMER ACADEMIES

    .section.noborder.nopadding
      %p
        %strong Goals
      %ul
        %li Provide a multitude of male role models who utilize  small group and intentional instruction that develops key character traits, life skills and emotional maturity.
        %li Provide the courses, guidance, networks and advocacy that prepares boys for top tier schools, internships, teams and community enhancement
        %li Provide exposure to a worldview based on traditional Christian values that help boys mature in a relationship with God

    .section.noborder.nopadding
      %h4 Programs and Components
      %p
        A4Y is an afterschool and summer academy that teaches essential life skills to at-risk elementary and middle school
        boys. The academy is divided into three components: Academic, Teamwork/ Citizenship and Vocational. Our after
        school academy operates Monday through Friday from 2:30-5:30 p.m. at our partner school. Summer academies are
        held at the same school, as well as in other partners’ facilities located outside of the city.

    .section.noborder.nopadding
      %h4 Paths
      %p
        Our extensive programming starts in grade four and progresses through an elementary, middle and
        high school path. Each path has activities and a curriculum that are designed to help the participants
        become good students, teammates, citizens and employees. The elementary and middle school paths
        are geared toward equipping students for top-tier schools of choice, internships, teamwork and service to
        their community. We partner with K-8 Baltimore City Schools, where we conduct our afterschool and
        summer academies. When the students attend high school, our guidance counselor and middle school
        teacher continues to provide support to the students and partner with their respective families, schools,
        mentors and employers.
    .section.noborder.nopadding
      %h4 Academics
      %p
        Students receive homework assistance, are taught study skills and are tutored in math and language arts.
        A4Y teachers meet weekly with school teachers to track progress and get a schedule for assignments
        and tests. During the summer, the students review work from the previous grade and start preparing for their next school year. When they enter middle and high school they will be prepared to attend a top-tier
        vocational and/or school of choice.

    .section.noborder.nopadding
      %h4 Teamwork and Citizenship
      %p
        Students participate in team-building challenges, anger management and conflict resolution games, service projects, mission trips, youth group, civic debate and sports teams. By the time they enter high school they will be equipped with teamwork and social awareness skills that will enable them to better serve their community. Students engage in small group sessions with our Guidance Counselor to further develop our traits and life skills while developing emotional maturity.

    .section.noborder.nopadding
      %h4 Vocational
      %p
        Students take field trips where they tour local businesses and interview employees, where they can learn about different vocations and are inspired by the stories of successful businessmen. Students receive instruction on money management and are further prepared for their internships with instruction on interviewing and resume writing. These students also make products as part of a business project and serve as A4Y interns during their eighth grade year, preparing them for a paid internship
        when they enter high school.
