#staff_students
  #left-rail
    .quote
      - blockquote do
        What attracted me to A4Y was two things. I was so excited to see a faith based organization partnering and IN a public school. Too often programs cause kids lives to be segmented. This seemed to unify things more. And secondly, I appreciated the focus on mentoring - constant teaching, coaching, feedback and relating with the individual child.
      %cite
        %strong Joanne Timmell
        %br
        Volunteer / Donor
        %br
        Johns Hopkins Hospital
    .inner
      = render :partial => "common/contact_info"
  #right-rail
    %h2 STAFF
    %strong Program Director
    %p
      The director works closely with school administrators to ensure a good working relationship in addition to providing support for our staff. They help screen and support volunteers and coordinate all aspects of the day to day operations in an effort to provide safe, ethical and high quality academies.


    %strong Teachers
    %p
      Our staff is comprised of Christian men who are experienced, local and capable of modeling our traits
      and life skills. Each teacher is placed with a small group of elementary or middle school students and utilizes
      a relational approach to mentor, instruct and provide high levels of accountability. Our middle school
      teacher also works closely with our partner middle and high schools to advocate for our students and
      to ensure parents are informed of the opportunities their sons have to attend top-tier private and public
      schools of choice.

    %strong Guidance Counselor
    %p
      Our Guidance Counselor helps team-teach our lessons on anger, conflict resolution and communication.
      He provides guidance for students with more regular behavioral problems and partners with parents to
      help support student improvement. As the students’ progress into high school he will provide ongoing
      mentoring and help securing and supervising internships.

    %strong Interns
    %p
      Our interns gain valuable vocational experience assisting our teachers and enhancing our ability to
      provide small group instruction. Interns work 3-5 days a week after school helping with homework and
      tutoring and leading small groups of students through our interactive lessons.

    %p
      To apply for an open position,
      %a{:href => "/pdfs/ACTS4Y-Applications-Positions.pdf", :title => "click here"} click here.

    %h2 STUDENTS

    %p
      We target capable boys with some guardian support who are enrolled in elementary
      and middle schools in disadvantaged communities.

    %strong Foundational Character Traits and Life Skills: “Missing Pieces to Manhood”

    %p
      We intentionally work to develop foundational character traits and life skills during all of our activities.
      These &ldquo;missing pieces to manhood&rdquo; include: responsibility, consideration, integrity, self discipline,
      communication, critical planning, anger management and conflict resolution. At the core of these
      &ldquo;Missing Pieces&rdquo; is a relationship with God and emotional maturity.

    %h2 NEEDS OVERVIEW

    %p
      We address the problem of boys from disadvantaged communities not getting the support they need to be
      successful. Without additional support from A4Y to address issues that the school and community cannot
      address alone, our students are at risk for under-performance, limited opportunities, lack of motivation,
      dropout, violence, crime, mental illness, addiction, early sexual behavior and unemployment.

    %p
      The majority of our students live in single-parent, low-income households led by a female with no
      secondary education. Students also live in communities with high crime and unemployment rates
      (especially among young males) and attend under-resourced public schools.

    %p
      Research (from the Open Society Institute) shows that effective use of the afterschool hours can be just
      as important to a student’s success as what occurs during the school day, especially for at-risk boys.
      We are the only year-round, five-day-a-week afterschool program designed to address a multitude of needs
      for at-risk boys at our partner school.

    %strong Societal Trends Addressed

    %p
      Traditional public schools have shrinking resources; schools located in disadvantaged communities are looking for partners to assist them with additional programs to help boys successfully progress through middle and high school.

    %p
      Religious institutions are looking for viable partnership opportunities to connect and disciple youth at a sustainable cost.

    %p
      Acts 4 Youth provides supplemental help to schools without having to shoulder the cost of running a school.


