#success_stories
  #left-rail
    .quote
      - blockquote do
        He used to just do enough to get by, Acts4Youth has instilled something in him and know he wants to excel, he wants me to call him Dr. Pitts now, the sky is the limit.
      %cite
        %strong Ms. Jones
        %br
        Kenneth Pitts&rsquo; Grandmother
    .inner
      = render :partial => "common/contact_info"

  #right-rail
    .hero.noborder
      = image_tag "hero/success-stories.jpg"

    %h2 SUCCESS STORIES

    %p
      %strong D&rsquo;Aundray
      entered A4Y as an angry fourth grade student who was failing school and had few friends.
      After our elementary path, he started displaying more self control, performed better in class, developed
      friendships and is preparing to make a successful transition into high school.

    %p
      %strong Kashar
      was a fourth grade student who was not cooperating with his teacher and was underperforming
      in class. His first month in our program he didn&rsquo;t receive enough points to participate in sports and enjoy
      our fun trip. He was disappointed but with our support he decided to apply himself and by year&rsquo;s end was
      achieving good grades and receiving high marks for effort and conduct. After his fifth grade year (and
      second year in A4Y), he became a leader and continued to improve, even qualifying for the Ingenuity
      Project at a local middle school, which prepares students to attend Poly Technical Institute, a top-tier
      Baltimore City high school. His mom&rsquo;s only regret was that he had to leave A4Y.

    %p
      %strong Michael
      began A4Y as a quiet fourth grade student with limited motivation who was struggling in school.
      Michael took the bus to and from school each day and faithfully attended despite numerous challenges.
      By middle school, he became a model student and team leader and positioned himself to attend a top-tier
      high school. His school of choice is Christo Rey High School (one of our partner high schools).


    %strong Measurements and Incentives

    %p
      We measure progress by how participants are displaying our traits and life skills as students, citizens,
      teammates and employees. We base our data on our weekly teacher reports, Guidance Counselor report
      and school and A4Y report cards. Incentives like sports, commission and fun trips are used to reward
      performance. Students who excel each month are placed on our Honor Roll and receive additional rewards.
      Below is an explanation of how we assess whether students are excelling in each component of
      our program.

    %strong Traits and Life Skills:

    %p
      %ul
        %li Receive intermediate to advanced scores (high marks) for our traits and life skills
        %li Receive intermediate to advanced scores for emotional maturity

    %strong Academics:

    %p
      %ul
        %li Receive high effort marks on report cards
        %li Attendance above 90%
        %li Improve their grades and score over 75%
        %li Write technically sound reports
        %li Expand vocabulary and improve spelling
        %li Qualify for top-tier schools of choice

    %strong Citizenship:

    %p
      %ul
        %li Receive high conduct marks on report cards
        %li Enhance community through service
        %li Apply ethical solutions to community planning

    %strong Vocation:

    %p
      %ul
        %li Expand vocational knowledge
        %li Learn the keys to becoming a good employee
        %li Receive high marks (for displaying employable traits) during business projects
        %li Receive high marks on their A4Y internship
        %li Perform well on a paid internship

    %strong Teamwork:

    %p
      %ul
        %li Receive high marks for social skills on report card
        %li Earn high marks on our team challenges
        %li Display good teamwork skills on our sports teams
        %li Become an integral part of a school or community team



