#values
  #left-rail
    .quote
      - blockquote do
        I feel it provides an effective way for our family to assist young boys in all aspects of their lives with a Christian message and foundation being at the core.
      %cite
        Justin Gerberaux
        %br
        Volunteer / Donor
        %br
        T. Rowe Price

    .inner
      = render :partial => "common/contact_info"

  #right-rail

    .hero.noborder
      = image_tag "hero/values.jpg"

    .section.noborder.nopadding
      .number 1.
      .item
        %strong RELATIONAL
        %p
          We hire Christian male role models who provide intentional instruction and mentoring within small group settings

    .section.noborder.nopadding
      .number 2.
      .item
        %strong PROACTIVE
        %p
          We start our programming in elementary school, when there is opportunity to help boys dream and formulate future aspirations

    .section.noborder.nopadding
      .number 3.
      .item
        %strong EXTENSIVE
        %p
          Our program mentors boys through two key transitional times – elementary to middle school, and middle to high school

    .section.noborder.nopadding
      .number 4.
      .item
        %strong HOLISTIC
        %p
          We address five key developmental areas: academic, social, emotional, vocational and spiritual

    .section.noborder.nopadding
      .number 5.
      .item
        %strong INTEGRATED
        %p
          We work with day school teachers to monitor performance and interact with the larger community through field trips and service projects

    .section.noborder.nopadding
      .number 6.
      .item
        %strong CHARACTER AND LIFE-SKILL BASED
        %p
          We provide intentional instruction, accountability and incentives to motivate and reward boys who display key character traits and life skills
    .section.noborder.nopadding
      .number 7.
      .item
        %strong GENDER SPECIFIC
        %p
          We tailor our activities and curriculum to address issues related to true masculinity

    .section.noborder.nopadding
      .number 8.
      .item
        %strong CHRISTIAN
        %p
          We embrace a worldview based on traditional Christian values and teachings that stress the importance of a relationship with God
