#volunteering_partnerships
  #left-rail
    .quote
      - blockquote do
        D&#x27;Aundrey&#x27;s growth since he has been a part of Acts4Youth has been phenomenal... he has grown to solve problems more positively [rather] than with so much anger and force.
      %cite
        %strong Nadine Rosber
        %br
        7th Grade Parent
    .inner
      = render :partial => "common/contact_info"

  #right-rail
    %h2 VOLUNTEERS

    %strong Afterschool Assistants

    %p
      Work with our teachers and provide homework help, tutoring and mentoring during our A4Y courses
      between 3 and 5 p.m.

    %strong Mentors

    %p
      Work with a small group of Middle School students on a weeknight developing rapport, having fun
      and using our curriculum to facilitate discussion on character, life skills and God. In addition to facilitating
      discussion on our traits, life skills and God, our High School mentors will work with our staff to help provide
      advocacy and support for our students to improve academically and become better citizens, teammates
      and employees

    %strong Summer Camp Assistants

    %p
      Work with our staff for one week during the summer to tutor and mentor students as they participate in a
      wide range of enriching course and fun activities.

    %strong Board Members

    %p
      Share your passion, time, expertise and resources with a team of committed members who are responsible
      for governing the organization. Members are Christians from local churches who work well with others
      and are skilled in some of the following areas: finances, education, programming, marketing, fundraising,
      law, strategic planning and human resources.

    %strong High School Application Coaches

    %p
      Partner with a 7th grade student and his guardian to help them fill out application and financial aid forms,
      attend open houses and tours, prepare for placement testing, secure recommendation letters from teachers
      or coaches, advocate to the admissions department and network for tuition assistance.

    %strong Parent Liaison

    %p
      Work with 8-10 families in one grade and provide prayer support, coordination and communication for
      upcoming events. Also help build networks with social agencies and coordinate two “fun nights out” for
      parents each school year.

    %strong Administrator

    %p
      Assist our staff on a short-term basis to fulfill administrative tasks including editing, filing, data entry,
      mailings and field trip organization.

    %h2 PARTNERSHIPS

    %strong Churches

    %p
      As a Christian organization, A4Y works closely with local churches to provide a platform for their
      congregations to serve. Churches provide volunteers, interns, facilities, funding and other resources
      while A4Y provides opportunities to serve, training for interns and presentations on urban ministry and
      other related topics.

    %strong Schools

    %p
      A4Y works with administrators and teachers of elementary/middle schools in Baltimore City to conduct
      our afterschool programming inside the school. We target schools with limited resources that have a high
      percentage of at-risk students from disadvantaged communities. These schools must also share common
      values and be willing to develop an effective and long-term working relationship.

    %strong Universities and High Schools

    %p
      A4Y works with local colleges and high schools to provide volunteer experiences for their students,
      primarily during the afterschool hours. Each student receives training and support to help tutor and mentor
      our students during our academic time and A4Y courses.

    %h2 ACTION TEAM

    %p
      Serve on a short term committee to help plan and support our annual fundraiser and student graduation banquet


