%p
  %strong Acts4Youth 
  %br
  PO BOX 11068
  %br
  Baltimore, MD 21212
  %br
  443-527-9982

%p
  %a.mail{:href => "mailto:acts4youth@gmail.com", :title => "acts4youth@gmail.com"} acts4youth@gmail.com

%p
  %a.facebook{:href => "http://www.facebook.com/pages/Acts-4-Youth/164535300237395", :title => "Join us on Facebook!"} Join us on Facebook!